.form-horizontal .control-label {
    width: 0px;
    text-align: left;
}

.form-horizontal .controls {
    margin-left: 40px;
}

form.well {
    padding-bottom: 0px;
}

#performance_chart {
    height: 300px;
}

#ratio_chart {
    height: 300px;
}
